<div class="shadow p-3 mb-5 bg-body rounded">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="">
                <img class="logotipo"
                    src="https://static.vecteezy.com/system/resources/previews/015/066/880/original/women-fashion-logo-template-with-clothes-hanger-luxury-clothes-logo-for-business-boutique-fashion-shop-model-shopping-and-beauty-free-vector.jpg"
                    alt="Logo" height="90" width="150">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link" [routerLink]="['']">Tienda</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link" [routerLink]="['nosotros']">Nosotros</a>
                    </li>
                </ul>
            </div>
            
            <div class="ml-auto">
                <i class="fa-regular fa-user fa-xl"></i>
    
            </div>
        </div>
    </nav>
    </div>