.navbar-nav li.active>a{
    color: rgba(224, 15, 15, 0.801);
    font-size: 20px;
    font-weight: bold;
}
.si{
    color: rgb(0, 239, 32);
}
.no{
    color: red;
}
.navbar{
    height: 100px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.rounded{
    height: 120px;
}